/* --------------------------- GENERAL -------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #f2f2f2;
    font-family: sans-serif;
}

/* elimino bordo sugli input e select quando hanno il focus */
input:focus, select:focus {
    outline: none;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

/* -------------------------------------------------------------------------- */
.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header-container {
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 0 20px;
}

#logo-panel {
    float: left;
}

#logo-panel h1 {
    color: red;
    line-height: 80px;
}

#logo-panel a {
    text-decoration: none;
}

#search-panel {
    float: right;
}

/* selettore lingua */
#search-language {
    margin-right: 10px;
    display: inline-block;
}

#search-language select {
    padding: 2px 6px;
}

/* campo per inserire stringa da ricercare */
#search-input {
    width: 300px;
    margin-top: 13px;
    padding: 2px 6px;
}

/* lente d'ingrandimento per avviare ricerca */
#search-button {
    display: inline-block;
    background-color: black;
    padding: 6px 10px 6px 10px;
    vertical-align: middle;
    cursor: pointer;
}

#search-button i {
    font-size: 22px;
}

/* stringa cercata */
#searched-string {
    margin-bottom: 10px;
}

#searched-string span {
    display: inline-block;
    max-width: 350px;
    background-color: black;
    color: lightgray;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
    word-wrap: break-word;
}

/* contenitore delle 2 sezioni Film e SerieTV */
.main-container {
    position: relative;
    width: 100%;
    background-color: #343534;
    /* background-image: linear-gradient(#343534 0%, #444343, #636663 100%); */
    /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/333ac5ff-1679-4182-9fa5-75292728e451/2c6dc3f4-b628-4cc5-b64a-7ebe2c678e3f/IT-it-20191216-popsignuptwoweeks-perspective_alpha_website_large.jpg"); */
    /* (100% viewport) - (altezza header) */
    min-height: calc(100vh - 80px);
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
} */
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* contenitore per la singola "serie TV" o "film" */
.card {
    /* background-color: transparent; */
    width: 342px;
    height: 513px;
    border: 1px solid white;
    perspective: 1000px;
    margin: 20px;
}

/* immagine poster */
.card-poster {
    position: absolute;
    width: 100%;
    height: 100%;
    /* nel caso l'immagine non venga trovata */
    background-color: #333e49;
    /* backface-visibility: hidden; */
}

/* lista con informazioni sul film/serie */
.card-info {
    padding: 20px;
    background-color: #333e49;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    /* nasconde il retro dell'elemento sulla rotazione */
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card ul li {
    list-style-type: none;
    padding-top: 5px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    /* i 2 elementi da flippare mantengono la loro posizione 3D */
    transform-style: preserve-3d;
}

.card:hover .flipper {
    transform: rotateY(180deg);
}

/* stellina piena per valutazione film/serie */
.card i {
    color: gold;
}

/* stellina vuota */
i.grayed {
    color: lightgray;
}

/* bandierina associata alla lingua  */
.flag {
    width: 20px;
    height: 15px;
    margin-left: 10px;
    vertical-align: text-bottom;
}

/* barra filtri */
#movie-filters-bar, #series-filters-bar {
    flex-wrap: wrap;
    background-color: #636663;
    background-image: linear-gradient(#636663, #444343, #343534);
    margin-bottom: 15px;
}

/* filtri: genere, voto, pagina */
#movie-card-genre, #series-card-genre,
#movie-card-vote, #series-card-vote,
#movie-page, #series-page {
    padding: 5px;
    display: inline-block;
    margin-left: 15px;
}

/* barra messaggi */
#movie-message-bar, #series-message-bar {
    text-align: center;
    padding: 10px 5px 20px 5px;
    background-color: #636663;
}

/* intestazione della sezione Film/Serie Tv */
.section-heading h2 {
    border-top: 1px solid gray;
    text-align: center;
    background-color: #636663;
    padding-top: 15px;
}

/* ----------------------------- MEDIA QUERIES ------------------------------  */
/* comportamento responsive: considero dimensione minima per gli schermi dei   */
/* cellulari uguale 320px, sotto questa dimensione il responsive non è gestito */
@media screen and (max-width: 670px) {
    #logo-panel, #search-panel {
        float: none;
    }

    #logo-panel h1 {
        line-height: 50px;
    }

    .header-container {
        height: 50px;
    }

    #search-input {
        margin: 0;
    }

    #searched-string span {
        max-width: 500px;
    }
}

@media screen and (max-width: 520px) {

    /* riduco ampiezza campo di input ricerca */
    #search-input {
        width: 195px;
    }
}

@media screen and (max-width: 415px) {

    /* faccio sparire l'intestazione del campo 'Lingua' */
    #search-language span {
        display: none;
    }

    /* riduco ampiezza campo di input ricerca */
    #search-input {
        width: 160px;
    }
}

@media screen and (max-width: 390px) {

    /* riduco dimensioni della card */
    .card {
        height: 432px;
        width: 285px;
        padding: 5px;
    }
}