* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

header {
    height: 80px;
}

h1 {
    display: inline-block;
    line-height: 80px;
    color: red;
    margin-left: 20px;
}

input {
    float: right;
    margin: 30px 0;
    width: 300px;
}

/* elimino bordo sull'input quando ha il focus */
input:focus {
    outline: none;
}

button {
    float: right;
    margin: 30px 20px 30px 10px;
}

.header-container {
    background-color: #cbc2be;
    height: 100%;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eeebe8;
    /* altezza viewport - altezza header */
    min-height: calc(100vh - 80px);
    padding-bottom: 40px;
}

.card {
    height: 350px;
    width: 200px;
    padding: 20px;
    background-color: #333e49;
    color: white;
    margin: 40px 20px 0 20px;
}